#aboutBody1 {
    background-color: #ddc3a5;
    font-family: "Roboto";
    margin: auto;
    width: 640px; 
    padding: 50px;
}


#CDA {
    float: left;    
    margin: 0 15px 0 0;
    padding: 10px;
}


header {
    text-align: center;
}

p {
    color: #201e20;
    font-family: "Roboto";

}
body {
    background-color: #ddc3a5;
    font-family: "Roboto";
    margin: auto;
    width: 640px; 
    padding: 50px;
}
h1 {
    color: #201e20;
    font-family: "Roboto";

}
h2 {
    color: #201e20;
    font-family: "Roboto";

}
h3 {
    color: #201e20;
    font-family: "Roboto";
}
h4 {
    color: #201e20;
    font-family: "Roboto";
}
h5 {
    color: #201e20;
    font-family: "Roboto";
}
h6 {
    color: #201e20;
    font-family: "Roboto";
}
#visitor {
    bottom: 0;
}
