#aboutBody1 {
    background-color: #FCFAF0;
    font-family: "Roboto";
    margin: auto;
    width: 640px; 
    padding: 50px;
}

#CDA {
    float: left;    
    margin: 0 15px 0 0;
    padding: 10px;
}

header {
    text-align: center;
}

#abutton {
    color: #232324;
    font-family: "Roboto";
    
}

#headerButton {
    color: #262628;
    font-family: "Roboto";
}

p {
    color: #201e20;
    font-family: "Roboto";
    letter-spacing: 0.3px;
}

body {
    background-color: #ADD8E6;
    font-family: "Roboto";
    margin: auto;
    width: 640px; 
    padding: 50px;
}

#h1-vistor {
    color: #615959;
    font-family: "Roboto";
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;


}
h2 {
    color: #222222;
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: 1px;

}
h3 {
    color: #222222;
    font-family: "Roboto";
    text-transform: uppercase;
    /*  letter-spacing: 1px; */
}
h4 {
    color: #222222;
    font-family: "Roboto";
    text-transform: uppercase;
}
h5 {
    color: #222222;
    font-family: "Roboto";
}
h6 {
    color: #222222;
    font-family: "Roboto";
}
#visitor {
    bottom: 0;
    letter-spacing: 2px;
    line-height: 1.4;
    font-size: 20px;
    color: #85929c;
    text-align: center;
    text-transform: lowercase;
}

em {
    color: #B5B2B0;
    font-family: "Roboto";
}


button, a.button {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
    display: inline-block; /* Important for anchor tags */
    text-align: center; /* To center text in the link */
    text-decoration: none; /* To remove underline */
}

button:active, a.button:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}


.container {
    width: 100%;
    height: 100%;
    
  }
